{% import "macros/bootstrap.html" as bootstrap -%}
{% import "macros/fonts.html" as fonts -%}
{% import "macros/jquery.html" as jquery -%}
{% import "macros/katex.html" as katex -%}

{% macro assets() %}
{{ katex::katex() }}
{{ jquery::jquery() }}
{{ bootstrap::bootstrap() }}
{{ fonts::fonts() }}

<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="image/apple-touch-icon.png", trailing_slash=false) | safe }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="image/favicon-32x32.png", trailing_slash=false) | safe }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="image/favicon-16x16.png", trailing_slash=false) | safe }}">
<link rel="manifest" href="{{ get_url(path="site.webmanifest", trailing_slash=false) | safe }}">

<link rel="stylesheet" href="{{ get_url(path="style/main.css", trailing_slash=false) | safe }}">
<link rel="stylesheet" href="{{ get_url(path="style/quizard.css", trailing_slash=false) | safe }}">
<script src="{{ get_url(path="script/main.js", trailing_slash=false) | safe }}"></script>
<script src="{{ get_url(path="script/quizard.js", trailing_slash=false) | safe }}"></script>
{% endmacro assets %}
