{% macro bootstrap() %}
{% if config.extra.host_vendor_assets %}
<link rel="stylesheet" href="{{ get_url(path="vendor/bootstrap/css/bootstrap.min.css", trailing_slash=false) | safe }}">
<link rel="stylesheet" href="{{ get_url(path="vendor/bootstrap-icons/bootstrap-icons.css", trailing_slash=false) | safe }}">
<script src="{{ get_url(path="vendor/bootstrap/js/bootstrap.bundle.min.js", trailing_slash=false) | safe }}"></script>
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endif %}
{% endmacro bootstrap %}
