{% macro katex() %}
{% if config.extra.host_vendor_assets %}
<link rel="stylesheet" href="{{ get_url(path="vendor/katex/katex.min.css", trailing_slash=false) | safe }}">
<script src="{{ get_url(path="vendor/katex/katex.min.js", trailing_slash=false) | safe }}"></script>
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
{% endif %}
{% endmacro katex %}
