{% macro meta() %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="{{config.extra.keywords}}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url | safe }}" />

<meta name="twitter:card" content="summary" />

<title>{{config.title}}</title>
<meta property="og:title" content="{{config.title}}" />
<meta property="twitter:title" content="{{config.title}}" />

<meta name="description" content="{{ config.description }}" />
<meta property="og:description" content="{{ config.description }}" />
<meta property="twitter:description" content="{{config.description}}" />
{% endmacro meta %}







