div.submission-correct {
    color:rgb(29, 124, 80);
    background-color:rgb(247, 251, 249);
    border: 1px solid rgb(29, 124, 80);
}

div.submission-incorrect {
    color:rgb(211, 0, 1);
    background-color:rgb(253, 245, 245);
    border: 1px solid rgb(211, 0, 1);
}