{% import "macros/meta.html" as meta -%}
{% import "macros/assets.html" as assets -%}

<!DOCTYPE html>
<html lang="en">

<head>
    {%- block meta -%}
    {{ meta::meta() }}
    {%- endblock meta -%}

    {%- block assets -%}
    {{ assets::assets() }}
    {%- endblock assets -%}
</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
        <img src="{{ get_url(path="image/logo.png", trailing_slash=false) | safe }}" alt="">
        <span class="d-none d-lg-block">Quizard</span>
        </a>
    </div>
  </header>

  <aside id="sidebar" class="sidebar">
  </aside>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active"><a href="/question">Questions</a></li>
        </ol>
      </nav>
    </div>
    <section class="section dashboard">
      <div class="row">
        <div class="col-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Quizard.in</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>
