{% extends "base.html" %}

{% block content %}
<h5 class="card-title">
  Welcome! Check out practice questions <a href="{{ get_url(path="@/question/_index.md") }}">here</a>.
</h5>
{% endblock content %}
