{% extends "base.html" %}

{% block content %}
<div class="card overflow-auto">
  <div id="question-card-{{ page.extra.id }}" class="card-body pb-0">
    <h5 class="card-title">{{ page.title  | safe }}</h5>
    <div id="question-{{ page.extra.id }}" class="row my-3">
        <div class="col-12">
          {{ page.extra.question | safe }}
        </div>
        <fieldset class="col-12">
          {% for answer_option in page.extra.answer_options %}
            <div class="form-check px-5 my-4">
              <input class="form-check-input" type="{{ page.extra.answer_type | default(value='radio') }}" name="answer-option-{{ page.extra.id }}" id="answer-option-{{ page.extra.id }}-{{loop.index}}" value="{{loop.index}}">
              <label class="form-check-label opacity-100" for="answer-option-{{ page.extra.id }}-{{loop.index}}">
                {{ answer_option.option | safe}}
              </label>
              <div class="mt-3 mb-5 p-2" id="option-explanation-{{ page.extra.id }}-{{loop.index}}">
                <i class="bi bi-check-circle"></i> <b>Correct</b>
              </div>
           </div>
           {% endfor %}
        </fieldset>
    </div>
    <div class="row border-top p-2" id="solution-{{ page.extra.id }}">
      <div class="col-12 p-2 mt-2 border border-light bg-light">
        <b>Explanation</b>
      </div>
      <div class="col-12 p-2 border border-light border-top-0">
        Hello World!
      </div>
    </div>
    <div class="row border-top p-3" id="submit-button-{{ page.extra.id }}">
      <div class="col">
        <button type="submit" id="submit-{{ page.extra.id }}" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <div class="row border-top p-3" id="reset-button-{{ page.extra.id }}">
      <div class="col">
        <button type="submit" id="reset-{{ page.extra.id }}" class="btn btn-primary">Reset</button>
      </div>
    </div>
    <script>
      (function(){
        var id = '{{ page.extra.id }}';
        var isRadio = {%- if not page.extra.answer_type or page.extra.answer_type == 'radio' -%}true{%- else -%}false{%- endif -%};
        var optionCount = {{ page.extra.answer_options | length }};
        var answers = [-1
        {%- for answer_option in page.extra.answer_options -%}
          {%- if not answer_option.is_correct -%}
            {%- continue -%}
            {%- endif -%}
          ,{{loop.index}}
        {%- endfor -%}];

        answers.shift();
        initializeQuestion(id);
        initializeSubmissionHandler(id, answers, isRadio, optionCount);
    })();
    </script>
  </div>
</div>
{% endblock content %}
