{% extends "base.html" %}

{% block content %}
<h5 class="card-title">{{ section.title  | safe }}</h5>
<ul>
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}